<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<div id="header">
    Shortener
</div>

<div id="request-form">
    <form id="shortener-form">
        <label for="long-url"></label><input type="text" id="long-url"/>
        <input placeholder="Please enter your long url" id="shortener-btn" type="submit" value="Generate Shortend Url"/>
    </form>
</div>

<div id="shortener-url">

</div>
<script type="text/javascript" src="/webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="/js/shortener.js"></script>
</body>
</html>